/*
/.*
/.vim/bundle
/.vim/plugin
/.vim/.netrwhist

!/.bash_aliases
!/.vimrc
!/.vim
/.vim/plugged
!/.gitignore
!/.gitmodules
!/.vimrc.indent
!/README.md
!/.tmux.conf
!/.zshrc
!/.iterm
!/.inputrc
!/.ctags
/.vimconf/repos
!/.vimconf
.vimconf/pgcli
.vimconf/composer
.vim/autoload
.vimconf/coc
