snippet fn1
options word
  function() {
    ${1:code}
  }

snippet fn2
options word
  function(${1:args}) {
    ${2:code}
  }

snippet function
  function ${1:name}() {
    ${2:code}
  };

snippet (fun
  (function(){
    ${1:code}
  })

snippet ready
  jQuery(document).ready(function() {
    ${1:code}
  });
