snippet CDK
import { Construct } from 'constructs';

export type ${1:ConstructName}Props = {
}

export class ${1:ConstructName} extends Construct {
  constructor(scope: Construct, id: string, props: ${1:ConstructName}Props) {
    super(scope, id);

    // The code that defines your stack goes here

    // example resource
    // const queue = new sqs.Queue(this, 'CdkQueue', {
    //   visibilityTimeout: cdk.Duration.seconds(300)
    // });
  }
}
endsnippet
